if (auth_level > 1)
  script
    $(document).ready(function() {
    $.get("/mobile/profs", function(data) {
      var tuid = $('#teacher').attr('tuid');
      for(var i = 0;i < data.length;i++) {
        $('#teacher').append("<option value='"+data[i].uid+"'>"+data[i].username+"</option>");
      }
      $('#teacher').val(tuid);
    })
    });
if(title == 'Edit Class')
  h1 Edit Class
else
  h1 Create a Class
form(method="post")
 table
  tr
    td Class name:
      -if(typeof(theClass) == 'undefined')
        input(type="text", name="cname")
      -else
        input(type="text", name="cname",value="#{theClass.name}")
  tr
   td Teacher:
    if (auth_level > 1)
      if (typeof(theClass) == 'undefined')
        select(id="teacher", name="tuser")
      else
        select(id="teacher",name="tuser",tuid="#{theClass.uid}")
    else
      =current_user
      input(type="hidden", name="tuser",value="#{tuid}")
  tr
   td Limit:
    if(typeof(theClass) == 'undefined')
      input(type="text", name="limit")
    else
      input(type="text", name="limit", value="#{theClass.classlimit}")
  tr
   td Visibility
     select(name="priv")
       if(typeof(theClass) == 'undefined' || theClass.privacy == 0)
         option(value="0") public
         option(value="1") private
       else
         option(value="1") private
         option(value="0") public
  tr
   td
    if(typeof(theClass) != 'undefined')
     input(type="hidden", name="cid", value="#{theClass.cid}")
    if(title == 'Edit Class')
     input(type="submit", value="Save Changes")
    else
     input(type="submit", value="Add")
