- var isEdit = typeof(theClass) != 'undefined'
-var action = isEdit ? '/editClass' : '/addClass'
if isEdit
  h1.form-title Edit Class
else
  h1.form-title Create a Class
form(method="post",action= action).form-horizontal
  .control-group
    .control-label Class Name
    .controls
      if (isEdit)
        input(type="text", name="cname", value="#{theClass.name}")
      else
        input(type="text", name="cname")
  .control-group
    .control-label Teacher
    .controls
      if (isAdmin)
        select(id="teacher", name="tuser", tuid="#{userid}")
          for professor in professors
            if ((isEdit && professor.uid == theClass.uid) || (!isEdit && professor.uid == userid))
              option(value=professor.uid, selected='selected')=professor.username
            else
              option(value=professor.uid)=professor.username

      else
        =userName
        input(type="hidden", name="tuser",value="#{userid}")
  .control-group
    .control-label Student Limit (Not Used)
    .controls
      if(isEdit)
        input(type="text", name="limit", value="#{theClass.classlimit}")
      else
        input(type="text", name="limit")
  .control-group
    .control-label Visibility (Not Used)
    .controls
      select(name="priv")
        if(isEdit && theClass.privacy == 0)
          option(value="0", selected='selected') public
        else
          option(value="0") public
        if(isEdit && theClass.privacy == 1)
          option(value="1", selected='selected') private
        else
          option(value="1") private
  if(isEdit)
    input(type="hidden", name="cid", value="#{theClass.cid}")
    input.btn.btn-primary(type="submit", value="Save Edit")
  else
    input.btn.btn-primary(type="submit", value="Add New Class")
