h1 Edit #{title}
br
.quiz-status
  if quiz.active
    h2.enabled Quiz Enabled
  else
    h2.disabled Quiz Disabled
span Questions required to enable: #{quiz['question_amount']}
table.table.table-bordered.table-condensed(id="quest-count")
  tr
    th
      if quiz.active
        a.btn.btn-danger(href="/disableQuiz?qid=#{qid}") Disable Quiz
      else
        a.btn.btn-primary(href="/enableQuiz?qid=#{qid}") Enable Quiz
    th Question Count
  tr
    td Easy
    if diffArray[1] >= quiz['question_amount']
      td.pass #{diffArray[1]}
    else
      td.fail #{diffArray[1]}
  tr
    td Medium
    if diffArray[2] >= quiz['question_amount']
      td.pass #{diffArray[2]}
    else
      td.fail #{diffArray[2]}
  tr
    td Difficult
    if diffArray[3] >= quiz['question_amount']
      td.pass #{diffArray[3]}
    else
      td.fail #{diffArray[3]}

h2 Questions
form(method="post", action="/question")
  table(id="qtable").table.table-bordered.table-striped.default-sort
    thead
      tr
        th Type
        th Question
        th Difficulty
        th Category
        th.actions
    tbody
      each question in questions
        tr
          td
            if question.type == 'multi'
              span.label.label-inverse Multiple Choice
            if question.type == 'tf'
              span.label.label-inverse True/False
            if question.type == 'short'
              span.label.label-inverse Short Answer
          td 
            em #{question.question}
          td
            if (question.difficulty == 1)
              span.label.label-success Easy
            else if(question.difficulty == 2)
              span.label.label-warning Medium
            else
              span.label.label-important Difficult
          td #{question.category}
          td
            .btn-group
              a.btn(onclick="formModal('/editQuestion?qid=#{qid}&questid=#{question.questid}')") Edit Question
              button.btn.btn-danger.rem(type="button", value="#{question.questid}") Del
  input(type="hidden", value="add", name="action")
  input(type="hidden", value="#{qid}", name="qid")
select(id="type", style="margin-bottom:0")
  option(value="multi") Multiple Choice
  option(value="tf") True/False
  option(value="short") Short Answer
br
button.btn.btn-primary(onclick="formModal('/addQuestion?qid=#{qid}&type='+$('#type').val())") Add Question
br

