h1 Edit #{title}
select(id="type")
  option(value="multi") Multiple Choice
  option(value="tf") True/False
  option(value="short") Short Answer
button(onclick="window.location='/addQuestion?qid=#{qid}&type='+$('#type').val()") Add
form(method="post", action="/question")
  table(id="qtable")
    tr
      th Type
      th Difficulty
      th Category
      th Question
      th Possible Answers
      th Correct Answer
      th
    each question in questions
      tr
        if question.type == 'multi'
          td Multiple Choice
        if question.type == 'tf'
          td True/False
        if question.type == 'short'
          td Short Answer
        td
          if question.difficulty == 1
            |Easy
          if question.difficulty == 2
            |Medium
          if question.difficulty == 3
            |Hard
        td #{question.category}
        td
          a(href="/editQuestion?qid=#{qid}&questid=#{question.questid}") #{question.question}
        if question.type == 'multi'
          td
            table
              each choice in JSON.parse(question.answers)
                tr
                  td #{choice} 
          td
            table
              each answer in JSON.parse(question.correct_answer)
                tr
                  td #{answer}
        if question.type == 'tf'
          td
          td #{JSON.parse(question.correct_answer)}
        if question.type == 'short'
          td
          td
            table
              each answer in JSON.parse(question.correct_answer)
                tr
                  td #{answer}
        td
          button.rem(type="button", value="#{question.questid}")
            |Del
  input(type="hidden", value="add", name="action")
  input(type="hidden", value="#{qid}", name="qid")
