h3 #{name}
form(id="qform", action="question", method="POST")
  textarea(name="question", rows="5", cols="40") #{name}
  button#add(type="button") Add
  ol#choices
    if add
      li
        textarea(name="ans")
        input(type="checkbox", name="correct")
        button(type="button", class="del")
          |Del
      li
        textarea(name="ans")
        input(type="checkbox", name="correct")
        button(type="button", class="del")
          |Del
      li
        textarea(name="ans")
        input(type="checkbox", name="correct")
        button(type="button", class="del")
          |Del
      li
        textarea(name="ans")
        input(type="checkbox", name="correct")
        button(type="button", class="del")
          |Del
    else
      each choice in JSON.parse(answers)
        li
          textarea(name="ans") #{choice}
          - var check = 'false'
          each ans in JSON.parse(quest.correct_answer)
            if ans == choice
              -check = 'true'
          if check == 'true'
            input(type="checkbox", name="correct", value="#{choice}", checked="checked")
          else 
            input(type="checkbox", name="correct", value="#{choice}")
          button(type="button", class="del")
            |Del
  input(type="submit", value="Save")
  input(type="hidden", name="type", value="multi")
  input(type="hidden", name="qid", value="#{qid}")
  input(type="hidden", name="questid", value="#{questid}")
