-if(quizzes.length == 0)
  h1 No Quizzes Found
-else
  h1= quizzes[0].className + "'s Quizzes"
  table.table.table-bordered.table-striped.default-sort
    thead
      tr
        th
          |Name
        th
          |Class
        th Quiz Length
        th State
        th
    tbody
      for quiz in quizzes
        tr
          td
            strong=quiz.name
          td=quiz.className
          td=quiz['question_amount']
          td
            if quiz.active
              span.label.label-success Active
            else
              span.label.label-important Disabled

          td
            .btn-group
              a.btn(href="/viewQuiz?qid=#{quiz.qid}") View Questions
              a.btn(href="/editQuiz?qid=#{quiz.qid}") Edit Quiz
              a.btn.btn(href="quizGrades?qid=#{quiz.qid}") Grades
              a.btn.btn-danger(href="/remQuiz?qid=#{quiz.qid}", onClick="return confirm('Are you sure you want to delete this Quiz?');") Delete
a.btn.btn-primary.right(href="/addQuiz?cid=#{cid}") Add a Quiz
br
br
-if(modules.length == 0)
  h1 No Modules Found
-else
  h1= modules[0].className + "'s Modules"
  table.table.table-bordered.table-striped.default-sort
    thead
      tr
        th
          |Name
        th
          |Class
        th
          |State
        th
    tbody
      for module in modules
        tr
          td
            a(href="#{module.filepath}")=module.title
          td=module.title
          td
            if module.active
              span.label.label-success Active
            else
              span.label.label-important Disabled
          td
            .btn-group
              if module.active
                a.btn(href="/disableModule?mid=#{module.mid}") Disable
              else
                a.btn(href="/enableModule?mid=#{module.mid}") Enable
              a.btn.btn-danger(href="/remModule?mid=#{module.mid}", onClick="return confirm('Are you sure you want to delete this Module?');") Delete
a.btn.btn-primary.right(href="/addModule?cid=#{cid}") Add a Module
br
br
-if(students.length == 0)
  h1 No Students in Class
-else
  h1 Students in Class
  table.table.table-bordered.table-striped
    tr
      th
        |Name
      th
    for student in students
      tr
        td
          =student.username
        td
          a.btn.btn-danger(href="/remStud?cid=#{cid}&uid=#{student.uid}", onClick="return confirm('Are you sure you want to remove this student from the class');") Remove
a.btn.btn-primary.right(href='/student?cid=#{cid}') Add Student to Class
